<footer>
    <section class="footer_2nd_section">
        <div class="footer_copy-legal_container">
            <div class="footer_copyright">
                <p>Derechos de autor © 2024 Apple Inc. Todos los derechos reservados.</p>
            </div>
            <ul class="footer_legal">
                <li><span>Política de Privacidad</span></li>
                <li><span>Términos de Uso</span></li>
                <li><span>Ventas y Reembolsos</span></li>
                <li><span>Legal</span></li>
                <li><span>Mapa del Sitio</span></li>
            </ul>
        </div>
        <div class="footer_country">
            <span>Argentina</span>
        </div>
    </section>
</footer>
